.footer__column-link {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}